.form-fields{
    background-color: aliceblue;
}
.gender-font{
    font-size:4em;
}
.gender-position{
    margin-top: -1em;
    margin-left: 5em;
}


.gender-color{
    margin-top: -1em;
    margin-left: 5em;
   color:yellow;
}
.gender-base{
   color:black;
}

.borderField{
  border-color: red ;
}

.drop-down{
  border-radius: 10px;
  height: 2.5em;
  /* border-color: #FBBB32; */
  text-indent: 5em;
  width: 15em;
}


@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }
  .selectPerHour{
    padding: 1em
  }

  #customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}



#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
body{
  background-color: #f4f3ef;
  /* background-color: rgba(149, 149, 149, 0.925); */
}

.loginButtons{
  color:white;
  background-color: rgb(247, 183, 66);
  border-color: rgb(247, 183, 66);
  border-radius: 1em;
  margin-left: 45%;
  width: 6em;
  font-weight: bold;
  border: rgb(247, 183, 66);


}

body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


